/*******************************************************************************
********************************************************************************
                                    Google Font
********************************************************************************
*******************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* Section Common */
.btn-area .btn {
    padding: 14px 45px;
    border: 2px solid #e4bb7a;
    transition: ease-in-out .4s;
    -webkit-transition: ease-in-out .4s;
    -moz-transition: ease-in-out .4s;
    -ms-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
    font-size: 17px;
    background-color: transparent;
    color: #e4bb7a;
}

.btn-area .btn:hover {
    color: #121212;
    background: #e4bb7a;
}

.content-heading h2 {
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    font-style: italic;
    font-size: 50px;
    background-color: transparent;
    color: #e4bb7a;
}

.content-heading h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    background-color: transparent;
    color: #fff;
}

/* Navbar top */
#navbar-top {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #262626;
}

#navbar-top .nav-item .nav-link {
    margin: 0 15px;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    transition: ease-out .4s;
    -webkit-transition: ease-out .4s;
    -moz-transition: ease-out .4s;
    -ms-transition: ease-out .4s;
    -o-transition: ease-out .4s;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: transparent;
    color: #fff;
}

#navbar-top .nav-item .nav-link:hover {
    border-bottom: 2px solid #e4bb7a;
}

/* home */
#home {
    position: relative;
    z-index: 20;
    padding: 150px 0 50px;
    background-image: url(../images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
    color: transparent;
}

#home .home-content {
    text-align: center;
}

#home .home-content h1 {
    padding-bottom: 10px;
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    font-size: 65px;
    color: #e4bb7a;
}

#home .home-content h3 {
    font-weight: 400;
    font-family: 'Average', serif;
    text-transform: capitalize;
    font-size: 70px;
    color: #f7bcbc;
}

#home .home-content p {
    padding-bottom: 20px;
    color: #fff;
}

#home .home-content .btn-area .btn {
    margin: 40px 0 50px;
}

/* Section middle */
#section-middle {
    padding: 30px 0;
    background: #fdfeff;
}

#section-middle .section-icon {
    text-align: center;
}

#section-middle .nav {
    justify-content: center;
    align-items: center;
}

#section-middle .navbar-middle .nav .nav-link {
    margin-top: 40px;
    transition: ease-in-out .3s;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #1b1b1b;
}

#section-middle .navbar-middle .nav .nav-link:hover {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #e4bb7a;
    color: #fff;
}

/* Banner */
#banner {
    position: relative;
    z-index: 999;
    padding: 130px 0;
    background: url(../images/best-cuisine.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.568);
    color: transparent;
}

#banner .banner-content h4 {
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    font-size: 45px;
    color: #e4bb7a;
}

#banner .banner-content h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    color: #fff;
}

#banner .banner-content p {
    padding: 50px 31px 50px 0;
    line-height: 30px;
    color: #fff;
}

/* Social icon middle */
#social-icon-middle {
    padding: 50px 0;
    background: #fdfeff;
}

#social-icon-middle .icons {
    text-align: center;
}

#social-icon-middle .icons ul li {
    display: inline-block;
}

#social-icon-middle .icons a {
    padding: 0 60px;
    font-size: 25px;
    color: #1b1b1b;
}

/* Welcome section start */
#welcome-section {
    padding: 100px 0 60px;
    background: #ccc;
}

#welcome-section {
    text-align: center;
}

#welcome-section .content-area {
    margin: 56px 0 0 -66px;
    padding: 10px;
    background: #fff;
}

#welcome-section .content-area h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    color: #e4bb7a;
}

#welcome-section .content-area h5 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    color: #1b1b1b;
}

#welcome-section .content-area p {
    line-height: 30px;
    color: #4d4d4d;
}

.scroll-down {
    margin-top: 100px;
}

/* Our history start */
#our-history {
    position: relative;
    z-index: 20;
    padding: 100px 0;
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#our-history::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658);
    color: transparent;
}

#our-history .our-history-content h4 {
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
    font-size: 55px;
    color: #e4bb7a;
}

#our-history .our-history-content h5 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

#our-history .our-history-content p {
    margin: 30px 0 40px;
    padding-right: 200px;
    line-height: 30px;
}

/* Orson Welles section start */
#orson-welles {
    padding: 100px 0;
    background-color: #292929;
    color: #fff;
}

#orson-welles h5 {
    font-weight: 400;
    font-family: 'Average', serif;
    font-size: 40px;
}

#orson-welles h4 {
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 40px;
    color: #e4bb7a;
}

/* Our menu */
#our-menu {
    padding: 100px 0 50px;
    background-color: #292929;
}

#our-menu .content-heading {
    padding: 0 0 95px;
    text-align: center;
}

#our-menu .content-heading h2 {
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
}

#our-menu .content-heading h3 {
    margin: 8px 0 50px;
}

#our-menu .content-heading p {
    line-height: 35px;
    color: #e0e0e0;
}

#our-menu .menu-items .item {
    padding-bottom: 100px;
}

#our-menu .menu-items .item .same {
    float: left;
}

#our-menu .menu-items .item .item-content .heading {
    padding: 10px 15px 0;
}

#our-menu .menu-items .item .item-content .heading h5 {
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #fff;
}

#our-menu .menu-items .item .item-content .heading h6 {
    font-weight: 600;
    font-family: 'Average', serif;
    font-size: 16px;
    color: #e4bb7a;
}

#our-menu .menu-items .item .span {
    float: right;
}

#our-menu .menu-items .item .span span {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #fff;
}

/* Our staff */
#our-staff {
    padding: 50px 0;
    background: #3f3f3f;
}

#our-staff .content-heading {
    text-align: center;
}

#our-staff .content-heading h2 {
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
}

#our-staff .item {
    padding-top: 50px;
    text-align: center;
}

#our-staff .item h5 {
    padding: 30px 0 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #fff;
}

#our-staff .item h6 {
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Average', serif;
    font-size: 19px;
    color: #e4bb7a;
}

#our-staff .item .icons svg {
    margin: 10px 15px;
    font-size: 20px;
    color: #e4bb7a;
}

#our-staff .item .icons svg:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

#our-staff .item p {
    color: #fff;
}

/* Reservation */
#reservation {
    padding: 50px 0;
    background: #ccc;
}

#reservation .content-heading {
    text-align: center;
}

#reservation .content-heading h2 {
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
}

#reservation .content-heading h3 {
    color: #000;
}

#reservation p {
    margin: 50px 0 60px;
    padding: 0 40px;
}

#reservation .btn-area .btn {
    border: 2px solid transparent;
    transition: ease-in-out .4s;
    -webkit-transition: ease-in-out .4s;
    -moz-transition: ease-in-out .4s;
    -ms-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
    text-transform: uppercase;
    background-color: #e4bb7a;
    color: #121212;
}

#reservation .com-btn-area .btn:hover {
    border: 2px solid #e4bb7a;
    background-color: transparent;
    color: #121212;
}

/* Slider bottom start */
#slider-bottom {
    position: relative;
    padding: 90px 0 60px;
    background: #292929;
}

#slider-bottom .arrow-prev {
    position: absolute;
    top: 50%;
    left: 2%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 35px;
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
}

#slider-bottom .arrow-next {
    position: absolute;
    top: 50%;
    right: 2%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 35px;
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
}

#slider-bottom .arrow-prev svg,
#slider-bottom .arrow-next svg {
    color: #e4bb7a;
}

#slider-bottom .slider-content {
    text-align: center;
}

#slider-bottom .slick-slide img {
    display: inline-block;
}

#slider-bottom p {
    margin: 50px 0;
    font-size: 17px;
    color: #d9d9d9;
}

#slider-bottom h5 {
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
}

#slider-bottom h6 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-size: 18px;
    color: #e4bb7a;
}

/* Testimonial */
#testimonial {
    padding: 90px 0;
    background: #fff;
}

#testimonial .testimonial-content {
    text-align: center;
}

#testimonial .content-heading h2 {
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
}

#testimonial h3 {
    color: #000;
}

#testimonial .image-icon {
    margin: 40px 0;
}

#testimonial p {
    color: #41403f;
}

#testimonial h5 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
}

#testimonial h6 {
    font-weight: 400;
    font-family: 'Average', serif;
    text-transform: capitalize;
    font-size: 18px;
    color: #e4bb7a;
}

/* Newsletter */
#newsletter {
    padding: 90px 0;
    color: transparent;
    background: #eee8e8;
}

#newsletter .newsletter-content {
    text-align: center;
}

#newsletter h4 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    background-color: transparent;
    color: #000;
}

#newsletter .image-arrow {
    margin: 40px 0;
}

#newsletter .email {
    margin-right: 15px;
    padding: 15px 0 15px 15px;
    font-size: 18px;
    border: 1px solid #afafaf;
}

#newsletter button {
    padding: 15px 30px;
    border: none;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    background: #e4bb7a;
    color: #121212;
}