html,
body {
    overflow-x: hidden;
}
ol,
ul {
    list-style: none;
}
a,
a:hover {
    text-decoration: none;
}
a,
input,
a:focus,
input:focus,
button,
button:focus {
    outline: none;
}
img {
    vertical-align: middle;
}
p {
    font-weight: 400;
    font-family: 'Average', serif;
    font-size: 16px;
}