/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .content-heading h2 {
        font-size: 26px;
    }

    .content-heading h3 {
        font-size: 25px;
    }

    .btn-area .btn {
        padding: 7px 28px;
    }

    /* Navbar top */
    #navbar-top .navbar-toggler svg {
        color: #fff;
    }

    #navbar-top .nav-item .nav-link {
        padding: 15px 0;
        text-align: center;
    }

    /* Home */
    #home {
        padding-top: 125px;
    }

    #home .home-content h1 {
        font-size: 43px;
    }

    #home .home-content h3 {
        font-size: 29px;
    }

    /* Banner */
    #banner {
        padding: 85px 0;
    }

    #banner .banner-content h4 {
        font-size: 35px;
    }

    #banner .banner-content h3 {
        font-size: 30px;
    }

    /* Social icon middle */
    #social-icon-middle .icons svg {
        padding: 0 10px;
    }

    /* Welcome section */
    #welcome-section .image-one {
        margin-bottom: 30px;
    }

    #welcome-section .content-area {
        margin-left: 1px !important;
    }

    /* Slider bottom */
    #slider-bottom .arrow-prev {
        top: 92%;
        left: 30px;
    }

    #slider-bottom .arrow-next {
        top: 92%;
        right: 30px;
    }

    /* Welcome section */
    #welcome-section .content-area h4 {
        font-size: 30px;
    }

    #welcome-section .content-area h5 {
        font-size: 29px;
    }

    /* Our history */
    #our-history .our-history-content h4 {
        font-size: 45px;
    }

    #our-history .our-history-content h5 {
        font-size: 35px;
    }

    #our-history .our-history-content p {
        padding-right: 0;
    }

    /* Our menu */
    #our-menu .menu-items .item {
        text-align: center;
    }

    #our-menu .menu-items .item .same {
        float: none;
    }

    /* Newsletter */
    #newsletter .email-box {
        text-align: center;
    }

    #newsletter .email {
        padding: 12px 0 16px 15px;
        font-size: 17px;
    }

    #newsletter button {
        margin-top: 20px;
        font-size: 16px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Common CSS start */
    .btn-area .btn {
        padding: 10px 30px;
    }
    .content-heading h2 {
        font-size: 40px;
    }
    .content-heading h3 {
        font-size: 30px;
    }
    /* Navbar top start */
    .navbar-toggler svg {
        color: #fff;
    }
    #navbar-top .nav-link {
        padding: 10px 0;
        text-align: center;
    }
    /* Home start */
    #home .home-content h1 {
        font-size: 50px;
    }
    #home .home-content h3 {
        font-size: 45px;
    }
    /* Banner */
    #banner .banner-content h4 {
        font-size: 42px;
    }
    #banner .banner-content h3 {
        font-size: 35px;
    }
    /* Welcome section start */
    #welcome-section {
        padding-top: 70px;
    }

    #welcome-section .main-content .content-area {
        margin-left: 1px;
    }

    #welcome-section .content-area h4 {
        font-size: 35px;
        margin-top: 15px;
    }

    #welcome-section .content-area h5 {
        font-size: 34px;
    }

    /* Our history start */
    #our-history .our-history-content h4 {
        font-size: 42px;
    }

    #our-history .our-history-content h5 {
        font-size: 35px;
    }

    #our-history .our-history-content p {
        padding-right: 85px;
    }

    /* Social icon middle start */
    #social-icon-middle .icons svg {
        padding: 0 40px;
    }

    /* Welcome section start */
    #welcome-section .content-area {
        margin: 35px 0 0 0;
    }

    /* Newsletter */
    #newsletter .email {
        padding: 10px 0 11px 9px;
    }

    #newsletter button {
        padding: 11px 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Navbar top start */
    .navbar-toggler svg {
        color: #fff;
    }

    #navbar-top .nav-link {
        padding: 10px 0;
        text-align: center;
    }

    /* Home start */
    #home .home-content h1 {
        font-size: 62px;
    }

    #home .home-content h3 {
        font-size: 60px;
    }

    /* Welcome section start */
    #welcome-section .content-area {
        margin: 35px 29px 0 31px;
        padding: 24px;
        background: #fff;
    }

    /* Our menu start */
    #our-menu .menu-items .item .item-content .heading {
        padding: 5px 5px 0;
    }

    #our-menu .menu-items img {
        margin-right: 10px;
    }

    /* Newsletter */
    #newsletter button {
        padding: 11px 20px;
        outline: none;
    }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* Navbar top start */
    .navbar-toggler svg {
        color: #fff;
    }

    #navbar-top .nav-link {
        padding: 10px 0;
        text-align: center;
    }

    #navbar-top .nav-link {
        margin: 0 10px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1500px) {

    /* Banner slider start */
    #banner-slider {
        position: relative;
    }

    #banner-slider .arrow-prev {
        position: absolute;
        top: 50%;
        left: 4px;
    }

    #banner-slider .arrow-next {
        position: absolute;
        top: 50%;
        right: 4px;
    }
}
